body {
    background: #21252b;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 30px;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#titleBar {
    height: 80px;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#titleBar > * {
    padding: 8px;
    padding-left: 24px;
}

#paths {
    flex: 1 0 auto;
}

#paths > div {
    margin: 4px;
    height: 1.25em;
}

#paths > div:last-child {
    margin-top: 8px;
}

#titleBar > div:last-child > * {
    margin: 4px;
}

#root > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root > div > div {
    display: flex;
    flex-direction: row;
    height: calc(100% - 80px);
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 360px;
}

#photosList {
    flex: 2 1 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

#photosList .photo {
    width: 150px;
    position: relative;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 2px;
}

#photosList .photo img {
    display: block;
    width: 100%;
}

#photosList .photo .icon {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    height: 18px;
    width: 18px;
    text-align: center;
    color: black;
}
.photo > .icon > svg {
    vertical-align: middle;
}

#photosList .photo[aria-selected=true]::after {
    box-shadow: inset 0px 0px 0px 4px lightblue;
    content: '';
    display: block;
    height: calc(100% - 4px);
    position: absolute;
    top: 0;
    width: calc(100% - 4px);
}

#main > section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 96px);
}

#main > section > img {
    max-width: 100%;
}

#main > footer {
    height: 96px;
    text-align: center;
}

#main > footer > * {
    padding: 8px;
    height: 32px;
}
